.maze_F {
	color: #55aaff;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.maze_E {
	color: #73e6ff;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.maze_D {
	color: #52ff46;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.maze_C {
	color: #ffd900;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.maze_B {
	color: #ff8000;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.maze_A {
	color: #ff0000;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}

.maze_S {
	color: #ffff00;
	font-weight: bolder;
	text-shadow: 0 2px black, 2px 0 black, -2px 0 black, 0 -2px black,
		1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
}